.helpfooter-p{
    height: 60px;
    width: 320px;
}

h4{
    text-align: center;
}

ul li {
    list-style: none;
}

.help-a{
    text-decoration: none;
    color: black;
}

.help-a:hover{
    color: black;
    text-decoration: underline;
    background-color: transparent;
    text-decoration: underline;
   
}