.about-container{
    padding: 20px 0px 20px 0px;
    width: 100%;
    
}

.about-style{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
     display: flex;
     background-color: bisque;
}

.about-div{
    display: flex;
    flex: 1;
    justify-content: center;
}

